body{
	background-image: url(/styles/images/fon1.jpg);
	text-align: center;

}
#toptitle{
    margin-top: 0.5em;
	font-style: italic;
	font-size: 5em;
}
#inputtitle{
	font-size: 2.5em;
}
#error{
	color: #d10a2f;
	font-size: 2.5em;
}
#item {
	font-size: 3.5em;
}

table{
	margin:auto;
}
input {
	font-style: italic;
	font-size: 1em;
	margin-top: 25px;
	border-bottom-color: gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;`
}